@page "/"

<h1>Contacts viewer</h1>

<BitButton OnClick="@Reload">Reload!</BitButton>

@if (Contacts == null)
{
    <h2>Loading...</h2>
}
else
{
    <h2>People count: @Contacts.Count</h2>

    <BitBasicList Items="Contacts" Virtualize="true">
        <RowTemplate Context="contact">
            <div>
                <BitButton>@contact.DisplayName</BitButton>
                @if (contact.Image is not null)
                {
                    <img src=@contact.Image />
                }
            </div>
        </RowTemplate>
    </BitBasicList>
}
